@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Raleway&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

*{
	margin:0;
	padding: 0;
	border: 0;
}

:root{
	--font-titulo: 'Agbalumo';
	--font-texto: 'Quicksand', sans-serif; 
}

.titulo{
	font-family: var(--font-titulo);
}

p{
	font-family: var(--font-texto);
}

a{
	font-family: var(--font-texto);
}

form{
	width: 50%;
	margin:0 auto;
}

.bordasA{
	border-radius: 12px 12px 12px 12px;
}